<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <a href="/" >Home</a>
    <a href="/songs">Songs</a>
</header>

<form form th:action="@{/addsong(id=${album.id})}" method="post">
    <input type="test" name="title" id="title">
    <input type="number" name="length" id="length">
    <button type="submit">Submit</button>
</form>

<h1  th:text="${album.title}" ></h1>

<h3> Songs </h3>

<div>
    <div th:each="song : ${songs}">
        <div>
            <p>Song title :<span th:text="${song.title}"></span></p>
            <p>Song length :<span th:text="${song.length}"></span></p>
        </div>
    </div>
</div>

</body>
</html>